.root{
    #-font-awesome-color: rgb(61,114,144);
    -font-awesome-color: grey;
}

.font-awesome{
    -fx-font-family: FontAwesome;
    -fx-font-size: 20px;
    -fx-effect: innershadow( three-pass-box , derive(-font-awesome-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
    -fx-text-fill: linear-gradient(to bottom, derive(-font-awesome-color,20%) 10%, derive(-font-awesome-color,-40%) 80%);
}

.browser-bar{
    -fx-background-color: gainsboro;
}

.tool-bar-button{
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.tool-bar-button:hover{
    -fx-border-color: -font-awesome-color;
    -fx-border-radius: 4;
    -fx-border-width: 1.5px;
}

.tab-pane {
    -fx-open-tab-animation: none;
    -fx-close-tab-animation: none;
}