.drop-target-node{
    -fx-background-color: rgb(0,255,0);
}

#closest-drop-target-node{
    -fx-background-color: rgb(0,0,255);
}

.drag-and-drop-container-node{
    -fx-background-color: rgb(190,214,248);
    -fx-padding: 2;
}
.drag-and-drop-container-node .description-label{
    -fx-padding: 4;
}

.drag-and-drop-container-node .main-content{
    -fx-hgap: 2;
    -fx-vgap: 2;
}

.drag-and-drop-container-node .column-header-layout-node,
.drag-and-drop-container-node .column-header-tree-node{
    -fx-spacing: 2;
}

#config-area-empty{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

.all-fields-area .tree-view:focused{
    /*Don't want any change in the border when focused*/
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
    -fx-background-radius: null;
}

.filter-fields-area{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

.row-header-fields-area{
    -fx-border-width: 1 1 0 0;
    -fx-border-color: -fx-box-border;
}

.column-header-area{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

.openaf-table-tool-bar{
    -fx-padding: 2;
    -fx-spacing: 2;
    -fx-background-insets: 0;
    -fx-background-color: -fx-background;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

.openaf-table-tool-bar-button{
    -fx-padding: 3;
}

.openaf-table-tool-bar-button .icons{
    -fx-font-size: 16;
    -fx-effect: null;
    -fx-fill: derive(grey, -30%);
}

.field-node{
    -fx-field-node-background-color: rgb(220,230,241);
    -fx-field-node-border-color: rgb(149,179,215);
    -fx-background-color: -fx-field-node-border-color, -fx-field-node-background-color;
    -fx-background-insets: 0,1;
    -fx-background-radius: 3,2;
    -fx-padding: 3;
    -fx-text-fill: black;
}

.field-node-measure{
    -fx-field-node-background-color: rgb(188,218,203);
}

.field-node-measure:hover,
.field-node-dimension:hover{
    -fx-field-node-border-color: derive(rgb(149,179,215), -30%);
}

.field-node .name-label{
    -fx-padding: 1 2 1 2;
}

.field-node .filter-button{
    -fx-padding: 1 3 1 4;
}

.field-node .filter-button .icons{
    -fx-font-size: 13;
}

.field-node .filter-button .icons-reject-all-filter{
    -fx-fill: crimson;
}

.field-node .filter-button .icons-retain-filter{
    -fx-fill: rgb(0,200,0);
}

.field-node .filter-button .icons-reject-filter{
    -fx-fill: rgb(0,200,0);
}

.filter-button-node{
    -fx-background-color: white;
    -fx-padding: 2;
    -fx-border-width: 1;
    -fx-border-color: -fx-box-border;
    -fx-spacing: 2;
}

.filter-button-node .button-box{
    -fx-spacing: 2;
    -fx-alignment: center-right;
}

.filter-button-node .graphic-button{
   -fx-padding: 0;
   -fx-font-size: 20;
}

.filter-button-node .plus-text{
    -fx-font-size: 20;
    -fx-fill: grey;
    -fx-font-smoothing-type: lcd;
}

.filter-button-node-list-cell{
    -fx-padding: 1 2 1 10;
}

#all-filter-button-node-list-cell{
    -fx-padding: 2;
}

.filter-button-node-list-cell > .check-box > .box > .mark{
    -fx-padding: 5
}

#drag-image-view{
    -fx-opacity: 0.7;
}

.button-bar{
    -fx-padding: 1;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

.small-spacing{
    -fx-spacing: 2;
}

.openaf-table-view{
    -fx-table-cell-border-color: rgb(208,215,229);
    -fx-table-cell-border-color-highlight: rgb(149,179,215);
    -fx-table-cell-header-color: rgb(220,230,241);
    -fx-table-cell-border-color-split-highlight:
        linear-gradient(to bottom, -fx-table-cell-border-color 95%, -fx-table-cell-border-color-highlight 95%);

    /*Don't want to show the border on the left hand side*/
    -fx-background-insets: 0, 1 1 1 0;
    -fx-padding: 1 1 1 0;
}

.openaf-table-view:focused{
    /*Don't want any change in the border when focused*/
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-padding: 1 1 1 0;
    -fx-background-radius: null;
}

.openaf-table-view .table-row-cell {
    -fx-background: white;
}

.openaf-table-view .measure-table-cell{
    -fx-alignment: CENTER_RIGHT;
    -fx-font-family: monospace;
}

.openaf-table-view #table-cell-count{
    -fx-alignment: CENTER_RIGHT;
}

.openaf-table-view .table-cell{
    -fx-table-cell-background-color: white;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color;
    -fx-table-cell-total-color: rgb(188,218,203);

    -fx-background-color: -fx-table-cell-bottom-border-color, -fx-table-cell-background-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: transparent -fx-table-cell-right-border-color transparent transparent;
}

/*Table Column Headers (rather than pivot column header cells)*/
.openaf-table-view .column-header-background{
    -fx-background-color: rgb(223,227,232);
    -fx-background-insets: 0;
}

.openaf-table-view .column-header{
    -fx-font-weight: null;
    -fx-size: 20px;
    -fx-padding: 0;
    -fx-background-color: rgb(223,227,232);
    -fx-background-insets: 0;
}

.openaf-table-view .column-header .label{
    -fx-border-width: 0 1 1 0;
    -fx-border-color: rgb(149,179,215);
}

.openaf-table-view .filler{
    -fx-background-color: rgb(149,179,215), rgb(223,227,232);
    -fx-background-insets: 0, 0 0 1 0;
}

/*Row Header Table Cells*/
.openaf-table-view .standard-row-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
}

.openaf-table-view .right-row-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-row-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-split-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-right-row-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .field-row-header-table-cell{
    -fx-font-weight: bold;
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-split-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .right-field-row-header-table-cell{
    -fx-font-weight: bold;
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

/*Column Header and Data Table Cells*/
.openaf-table-view .standard-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
}

.openaf-table-view .right-column-header-table-cell{
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-split-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-right-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .field-column-header-table-cell{
    -fx-font-weight: bold;
}

.openaf-table-view .right-field-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-field-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-split-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-right-field-column-header-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-header-color;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .right-data-table-cell{
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
}

.openaf-table-view .bottom-data-table-cell{
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-split-highlight;
}

.openaf-table-view .bottom-right-data-table-cell{
    -fx-table-cell-bottom-border-color: -fx-table-cell-border-color-highlight;
    -fx-table-cell-right-border-color: -fx-table-cell-border-color-highlight;
}

/*Totals*/
.openaf-table-view .total-column-header-table-cell,
.openaf-table-view .total-row-header-table-cell,
.openaf-table-view .row-total-data-table-cell,
.openaf-table-view .column-total-data-table-cell{
    -fx-table-cell-background-color: -fx-table-cell-total-color;
}

/*Selected and focused table cells*/
.openaf-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.openaf-table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected{
    -fx-table-cell-background-color: -fx-selection-bar;
    -fx-table-cell-right-border-color: derive(-fx-selection-bar, 20%);
    -fx-table-cell-bottom-border-color: derive(-fx-selection-bar, 20%);
}

.openaf-table-view .table-row-cell:filled:selected,
.openaf-table-view .table-row-cell:filled > .table-cell:selected{
    -fx-table-cell-background-color: -fx-selection-bar-non-focused;
    -fx-table-cell-right-border-color: derive(-fx-selection-bar-non-focused, 20%);
    -fx-table-cell-bottom-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

.openaf-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.openaf-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused{
    -fx-background-color: -fx-table-cell-background-color, -fx-cell-focus-inner-border, -fx-table-cell-background-color;
    -fx-background-insets: 0, 1, 2;
}
