.root{
    -icons-color: grey;
}

.icons{
    -fx-font-family: Icomoon;
    -fx-font-smoothing-type: null;
    -fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );
    -fx-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}

.browser-bar{
    -fx-background-color: -fx-background;
}

.tool-bar-button,
.settings-menu-button{
    -fx-padding: 4;
}

.tool-bar-button .icons,
.settings-menu-button .icons{
    -fx-font-size: 20;
}

.tab-pane{
    -fx-open-tab-animation: none;
    -fx-close-tab-animation: none;
}

#page-component-top-border-not-provided{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

#page-component-top-border-provided{
    -fx-border-width: null;
    -fx-border-color: null;
}

.page-component{
    -fx-background-color: -fx-background;
}