.root{
    /*-table-view-background-colour: transparent;*/
    -table-view-background-colour: rgb(190,214,248);
}

.drop-target-node{
    /*-fx-background-color: #CCFF99AA;*/
    -fx-background-color: red;
}

#closest-drop-target-node{
    -fx-background-color: #87ceebAA;
}

.filter-fields-area{
    -fx-background-color: -table-view-background-colour;
    -fx-padding: 1px;
}

.row-header-fields-area{
    -fx-background-color: -table-view-background-colour;
    -fx-padding: 1px;
}

.measure-fields-area{
    -fx-background-color: -table-view-background-colour;
}

.field-node{
    -fx-background-color: lightgrey;
    -fx-background-insets: 1px;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-color: black;
}