.drop-target-node{
    /*-fx-background-color: #CCFF99AA;*/
    -fx-background-color: red;
}

#closest-drop-target-node{
    -fx-background-color: #87ceebAA;
}

.drag-and-drop-container-node{
    -fx-background-color: rgb(190,214,248);
    -fx-padding: 1;
}
.drag-and-drop-container-node .description-label{
    -fx-padding: 3 5 3 5;
}

#config-area-empty{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

.all-fields-area .tree-view:focused{
    /*Don't want any change in the border when focused*/
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.filter-fields-area{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

.row-header-fields-area{
    -fx-border-width: 1 1 0 0;
    -fx-border-color: -fx-box-border;
}

.column-header-area{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -fx-box-border;
}

.field-node{
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 5 3 5;
    -fx-text-fill: black;
}

.field-node:hover{
    -fx-background-color:
        blue,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
}

.field-node .filter-button {
    -fx-padding: 3;
    -fx-font-size: 1;
    -fx-content-display: CENTER;
    -fx-graphic-text-gap: 0;
    -fx-alignment: CENTER;
}

.field-node .filter-button .font-awesome{
    -fx-font-size: 10;
    -fx-fill: grey;
}

.field-node .filter-button .font-awesome-reject-all-filter{
    -fx-fill: crimson;
}

.field-node .filter-button .font-awesome-retain-filter{
    -fx-fill: green;
}

.field-node .filter-button .font-awesome-reject-filter{
    -fx-fill: green;
}

.filter-button-node{
    -fx-background-color: white;
    -fx-padding: 2;
    -fx-border-width: 1;
    -fx-border-color: -fx-box-border;
    -fx-spacing: 2;
}

.filter-button-node .button-box{
    -fx-spacing: 2;
    -fx-alignment: center-right;
}

.filter-button-node .graphic-button{
   -fx-padding: 0;
   -fx-content-display: CENTER;
   -fx-graphic-text-gap: 0;
   -fx-alignment: CENTER;
}

.filter-button-node .font-awesome{
    -fx-font-size: null;
    -fx-fill: grey;
}

.filter-button-node .plus-text{
    -fx-font-size: 20;
    -fx-fill: grey;
    -fx-font-smoothing-type: lcd;
}

.filter-button-node-list-cell{
    -fx-padding: 1 2 1 10;
}

#all-filter-button-node-list-cell{
    -fx-padding: 2;
}

.filter-button-node-list-cell > .check-box > .box > .mark{
    -fx-padding: 5
}

#drag-image-view{
    -fx-opacity: 0.7;
}

.openaf-table-view{
    -fx-table-cell-border-color: rgb(208,215,229);

    /*Don't want to show the border on the left hand side*/
    -fx-background-insets: 0, 1 1 1 0;
    -fx-padding: 1 1 1 0;
}

.openaf-table-view:focused{
    /*Don't want any change in the border when focused*/
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 1 1 0;
    -fx-padding: 1 1 1 0;
}

.openaf-table-view .column-header{
    -fx-font-size: 12;
    -fx-size: 16;
}

.openaf-table-view .table-row-cell {
    -fx-background: white;
    -fx-cell-size: 16;
    -fx-padding: 0;
}

.openaf-table-view .table-cell {
    -fx-padding: 0;
    -fx-font-size: 12;
    -fx-cell-size: 16;
}

.openaf-table-view #table-cell-count{
    -fx-alignment: CENTER_RIGHT;
}

.openaf-table-view > .column-header-background .table-column-header-value{
    -fx-font-weight: normal;
}

.button-bar{
    -fx-padding: 1;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -fx-box-border;
}

.small-spacing{
    -fx-spacing: 2;
}